*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
   --color:red;
   --color-bg:#fff;
   --color-bgbg:blue;
}
body{
    background: var(--color-bgbg);
    padding: 25px 10px;
}
section{
    width: 100%;
}
.header {
    display: flex;
    padding: 10px 5px ;
    position: relative;
}
.header img{
    width: 60px;
}
.header a{
    right: 0;
    position: absolute;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 5px;
}
.hero #para{
    font-size: 15px;
    padding: 20px 10px;
    color: var(--color-bg);
}
.hero a{

}
.hero h1{
    font-size: 100px;
    color: var(--color);
}
.hero h2{
    font-size: 30px;
    color: white;
    padding: 20px 0px;
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.content{
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px var(--color-bg);
    padding: 20px ;
    width: 100%;
}
.content:hover{
    transform: translateY(-10px) scale(1.01);
    transition: 0.5s;
    box-shadow: 0px 0px 10px #fff;
}
.content h3{
    color: var(--color);
    padding: 5px;
    font-size: 18px;
}
.content p{
    color: var(--color-bg);
    line-height: 25px;
}